@using X.PagedList.Mvc;
@using X.PagedList;
@model IEnumerable<GRis.ViewModels.PaySource.PaySourceDetailsViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @using (Html.BeginForm("Index", "PaySources", FormMethod.Get))
    {
        <b> Search Option: </b> @Html.RadioButton("option", "PaySourceName") <text> Pay source name</text>
        @Html.TextBox("search")
        <input type="submit" name="submit" value="Search" />
    }


</div>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Upload excel sheet", "Upload")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VendorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page,
    option = Request.QueryString["option"],
    search = Request.QueryString["search"]
}))