@using X.PagedList.Mvc;
@using X.PagedList;
@model IEnumerable<Gris.Application.Core.Contracts.Reports.ServerSalaryReportViewModel>

<table class="table table-striped">
    <tr>
        <th>
            Server Id
        </th>
        <th>
            Server Name
        </th>
        <th>
            Salary (%)
        </th>
        <th>
            Temp Help (%)
        </th>
        <th>
            Overtime (%)
        </th>
        <th>
            Retirement (%)
        </th>
        <th>
            Social Security (%)
        </th>
        <th>
            Medical & Life Ins (%)
        </th>
        <th>
            Indust Ins (%)
        </th>
        <th>
            Total
        </th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GpEmpNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServerName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.BeginDate)*@
                @Html.DisplayFor(modelItem => item.SalaryAccount.ValueInPercentage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempHelpAccount.ValueInPercentage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverTimeAccount.ValueInPercentage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RetirementAccount.ValueInPercentage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocialSecurityAccount.ValueInPercentage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MedicalAndLifeInsuranceAccount.ValueInPercentage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndustrialInsuranceAccount.ValueInPercentage) %
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalInPercentage) %
            </td>
        </tr>
    }
</table>
