@using Gris.Application.Core.Contracts.Reports
@model GRis.ViewModels.Reports.ReportFiltersViewModel

@{
    ViewBag.Title = "Index";
    var reportData = ViewBag.ReportData == null ?
        null : ViewBag.ReportData as List<ServerTimeEntriesMonthlyReportEntity>;
}

<h2>Generate Reports</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <h4>Service Details Monthly Report</h4>
        <br />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.SelectedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SelectedDate)
                @Html.ValidationMessageFor(model => model.SelectedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generate" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (reportData != null)
{
    <hr />
    <h4>
        Results:
    </h4>

    if (reportData.Any())
    {
        using (Html.BeginForm("ExportServerTimeEntriesMonthlyReportToExcel", "Reports"))
        {
            @Html.HiddenFor(model => model.SelectedDate)
            @Html.AntiForgeryToken()

            <button type="submit" class="btn btn-labeled btn-success pull-right">
                <span><i class="glyphicon glyphicon-download-alt"></i></span> Export To Excel
            </button>
        }
        Html.RenderPartial("_ServerTimeEntriesMonthlyReport", reportData);
    }
    else
    {
        <h4>
            <span class="label label-info">No data match the search criteria!</span>
        </h4>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/plugins")
    @Scripts.Render("~/bundles/app")
}